@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-text-primary: #000000; /* Black color */
}

:root {
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.testimonial {
  background: transparent;
  border: 1px solid white;
  transition: background 0.3s ease;
}

.testimonial:hover {
  background: rgb(224, 231, 255);
}

.container {
  width: 100%;
  max-width: 100%;
  position: relative;
}

/* Image positioning */
.moved-image {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

/* Media queries to handle different screen sizes */
@media (max-width: 480px) {
  .container {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  .moved-image {
    width: 100%;
    top: 10px;
  }
}

@media (min-width: 481px) and (max-width: 829px) {
  .container {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  .moved-image {
    width: 100%;
  }
}

@media (min-width: 830px) {
  .container {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  .moved-image {
    width: auto;
  }
}

/* Fixed Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.responsive-text {
  display: inline-block;
  line-height: 1.5;
}

.mobile-break {
  display: none;
}

@media (max-width: 768px) {
  .mobile-break {
    display: block;
  }
  
  .responsive-text {
    white-space: normal;
    display: inline;
  }
}

.icon-hover {
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-hover:hover {
  transform: scale(1.2);
  color: #0077b5; /* LinkedIn blue color, you can customize for each icon if needed */
}